html, body {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
  font-family: 'Questrial', sans-serif;
  color: white;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

h2 {
    font-size: 7em;
}

h3 {
    font-size: 3em;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}

@media (max-width: 768px) {
    body {
        background: url(imgs/mobilebackground.JPG);
        background-size: cover;
    }
}
@media (min-width: 769px) {
    body {
        background: url(imgs/background.jpg);
        background-size: cover;
    }
} 