html, body {
  height: 100%;
  font-family: "Questrial","Futura", sans-serif;
}

body {
  padding: 50px 0 0 0;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
    color: #000000;
  }

}

.navmenu {
  background-color: #000000;
}

.subtitle {
  font-size: 3em;
}

.name {
  font-size: 5em;
  color: #ffffff;
}

body {
  background-image: url("../imgs/background.jpg");
  background-size: cover;
}

li {
  font-size: 2em;
}

.navbar-inner {
    background:transparent;
}
